

<h3>
    Bonjour! 
    <br>

Je m’appelle Luis Gutiérrez, je suis trilingue français-anglais-espagnol 
et musicien de formation, je cumule plus de 18 ans d’expérience en ventes et en service à la clientèle. 
Depuis quelques années, je m’intéresse beaucoup au développement web. 
J’ai appris le HTML, CSS, JavaScript et WordPress de façon autodidacte, 
puis j’ai continué mon perfectionnement au Cégep De Trois Rivières, 
où j’ai complété un AEC en Design et intégration Web et où je poursuis 
l’apprentissage de différentes technologies web telles que Sass, PHP, 
gestion de bases de données, Vuejs, 
React et Angular dans le cadre d’un AEC en Développement Web (Front-end). 
</h3>